@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary-lightest: #b9cef6;
    --primary-lighter: #7ba4f1;
    --primary: #447dea;
    --primary-darker: #3461b8;
    --primary-darkest: #1f3a6f;
    --primary-background: #ffffff;
    --primary-background-light: #ecf1fa;
    --primary-foreground: #343a40;

    --secondary-lightest: #bdf0da;
    --secondary-lighter: #72e4b4;
    --secondary: #36e099;
    --secondary-darker: #2cbc81;
    --secondary-background: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --warning: #ffc639;
    --error: #e2423f;
    --success: #208d60;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  /* .dark { */
  /*   --background: 240 10% 3.9%; */
  /*   --foreground: 0 0% 98%; */
  /**/
  /*   --card: 240 10% 3.9%; */
  /*   --card-foreground: 0 0% 98%; */
  /**/
  /*   --popover: 240 10% 3.9%; */
  /*   --popover-foreground: 0 0% 98%; */
  /**/
  /*   --primary: 0 0% 98%; */
  /*   --primary-foreground: 240 5.9% 10%; */
  /**/
  /*   --secondary: 240 3.7% 15.9%; */
  /*   --secondary-foreground: 0 0% 98%; */
  /**/
  /*   --muted: 240 3.7% 15.9%; */
  /*   --muted-foreground: 240 5% 64.9%; */
  /**/
  /*   --accent: 240 3.7% 15.9%; */
  /*   --accent-foreground: 0 0% 98%; */
  /**/
  /*   --destructive: 0 62.8% 30.6%; */
  /*   --destructive-foreground: 0 0% 98%; */
  /**/
  /*   --border: 240 3.7% 15.9%; */
  /*   --input: 240 3.7% 15.9%; */
  /*   --ring: 240 4.9% 83.9%; */
  /* } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
